// Colors
$main_color: #263238;
$main_color_dark: #000a12;
$main_color_light: #4f5b62;

$secondary_color: #ff3d00;
$secondary_color_light: #ff7539;
$secondary_color_dark: #c30000;

$text_color_on_main: #ffffff;
$text_color_on_secondary: #000000;

// Typography
$serif: 'Slabo 27px', serif;
$sans: 'Open Sans', sans-serif;

$font_small: 0.75em;
$font_medium: 0.90em;
$font_big: 1.25em;
$font_huge: 3em;